{% extends "security/_base.html.twig" %}

{% block title %}{{ "create.title"|trans }}{% endblock %}
{% block description %}{{ "create.description"|trans }}{% endblock %}

{% trans_default_domain "event" %}
{% set wide = true %}

{% block form_content %}
    <div class="form-wrapper">
        {{ form(form) }}
    </div>
{% endblock %}
