{% extends "_form_menu_base.html.twig" %}

{% block title %}{{ "update.title"|trans }}{% endblock %}
{% block description %}{{ "update.description"|trans }}{% endblock %}

{% trans_default_domain "event" %}

{% block form_content %}
    <div class="form-wrapper">
        {{ form(form) }}
    </div>
{% endblock %}
