{% extends "_menu_base.html.twig" %}

{% block title %}{{ "view.title"|trans }}{% endblock %}
{% block description %}{{ "view.description"|trans }}{% endblock %}

{% trans_default_domain "event" %}

{% block content %}
    <p>
        <a class="btn btn-secondary" href="{{ path("event_update", {"event": event.id}) }}">
            <i class="fal fa-pencil"></i>
        </a>
    </p>
{% endblock %}
